aws-ec2/.terraform
aws-ec2/.terraform.lock.hcl
aws-ec2/terraform.tfstate
aws-ec2/terraform.tfstate.backup
aws-s3/.terraform
aws-s3/.terraform.lock.hcl
aws-s3/terraform.tfstate
aws-s3/terraform.tfstate.backup
tf-backend/.terraform
tf-backend/.terraform.lock.hcl
project-static-wesite/.terraform
project-static-wesite/.terraform.lock.hcl
tf-vpc/.terraform
tf-vpc/.terraform.lock.hcl
tf-vpc/terraform.tfstate
tf-vpc/terraform.tfstate.backup
NGINX_EC2_Vpc_HTTP/.terraform
NGINX_EC2_Vpc_HTTP/.terraform.lock.hcl 
NGINX_EC2_Vpc_HTTP/terraform.tfstate
NGINX_EC2_Vpc_HTTP/terraform.tfstate.backup